* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* get rid of the miserable chrome blue highlight */
    -webkit-tap-highlight-color: transparent;

    /* disable text highlight */
    user-select: none;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}


*:focus {
    outline: none;
}


::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.04);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.03);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.09);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button {
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}




@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'M1+P';
    src: url('../fonts/M1P-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
